.root {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: var(--token-oAFs2bB0aJsh);
  padding-bottom: var(--token-oAFs2bB0aJsh);
}
.buttonButton:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox {
  box-shadow: 0px 2px 2px 2px #0000000a;
  flex-direction: column;
  position: absolute;
  height: auto;
  width: auto;
  left: auto;
  top: 100%;
  background: var(--token-p9mBFxnn3trO);
  z-index: 10000;
  min-width: 100%;
  display: none;
  border-radius: var(--token-OwZJ92ptTnIE);
  padding: var(--token-WiiziFwxOi2m);
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - var(--token-WiiziFwxOi2m));
  height: calc(100% + var(--token-WiiziFwxOi2m));
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-WiiziFwxOi2m);
}
.freeBoxopen {
  display: flex;
  flex-direction: column;
}
.freeBoxopen > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - var(--token-WiiziFwxOi2m));
  height: calc(100% + var(--token-WiiziFwxOi2m));
}
.freeBoxopen > :global(.__wab_flex-container) > *,
.freeBoxopen > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBoxopen > :global(.__wab_flex-container) > picture > img,
.freeBoxopen
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: var(--token-WiiziFwxOi2m);
}
@media (max-width: 768px) {
  .freeBoxopen {
    box-shadow: 0px 4px 16px 0px transparent;
    position: relative;
    left: auto;
    top: auto;
  }
}
@media (max-width: 768px) {
  .freeBoxopen > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-Pky-E4CaFvs4));
    height: calc(100% + var(--token-Pky-E4CaFvs4));
  }
}
@media (max-width: 768px) {
  .freeBoxopen > :global(.__wab_flex-container) > *,
  .freeBoxopen > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBoxopen > :global(.__wab_flex-container) > picture > img,
  .freeBoxopen
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-Pky-E4CaFvs4);
  }
}
@media (min-width: 0px) and (max-width: 512px) {
  .freeBoxopen {
    box-shadow: 0px 4px 16px 0px transparent;
    position: relative;
    left: auto;
    top: auto;
  }
}
@media (min-width: 0px) and (max-width: 512px) {
  .freeBoxopen > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-Pky-E4CaFvs4));
    height: calc(100% + var(--token-Pky-E4CaFvs4));
  }
}
@media (min-width: 0px) and (max-width: 512px) {
  .freeBoxopen > :global(.__wab_flex-container) > *,
  .freeBoxopen > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBoxopen > :global(.__wab_flex-container) > picture > img,
  .freeBoxopen
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-Pky-E4CaFvs4);
  }
}
.root:hover .freeBox {
  display: flex;
}
.root:focus-within .freeBox {
  display: flex;
}
.root .freeBox___focusVisibleWithin {
  display: flex;
}
.listListItem__slg7U:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 100%;
}
