.root {
  height: auto;
  width: 100%;
  max-width: var(--token-Ls4kjfvyF7vL);
  background: var(--token-p9mBFxnn3trO);
  display: flex;
  flex-direction: column;
  position: relative;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  border-radius: var(--token-gfGstwsXh_2q);
  padding: var(--token-Pky-E4CaFvs4);
  border: 1px solid var(--token-Ao7MqK40UU3D);
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - var(--token-8MkIlsFrrWgx));
  height: calc(100% + var(--token-8MkIlsFrrWgx));
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: var(--token-8MkIlsFrrWgx);
}
.freeBox__rFsBa {
  position: relative;
  display: flex;
  flex-direction: column;
}
.freeBox__rFsBa > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - var(--token-Pky-E4CaFvs4));
  height: calc(100% + var(--token-Pky-E4CaFvs4));
}
.freeBox__rFsBa > :global(.__wab_flex-container) > *,
.freeBox__rFsBa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rFsBa > :global(.__wab_flex-container) > picture > img,
.freeBox__rFsBa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-Pky-E4CaFvs4);
}
.freeBox__pMjQq {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__pMjQq > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - var(--token-Pky-E4CaFvs4));
  width: calc(100% + var(--token-Pky-E4CaFvs4));
}
.freeBox__pMjQq > :global(.__wab_flex-container) > *,
.freeBox__pMjQq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pMjQq > :global(.__wab_flex-container) > picture > img,
.freeBox__pMjQq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Pky-E4CaFvs4);
}
.freeBox__uQaze {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.freeBox__uQaze > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - var(--token-Pky-E4CaFvs4));
  height: calc(100% + var(--token-Pky-E4CaFvs4));
}
.freeBox__uQaze > :global(.__wab_flex-container) > *,
.freeBox__uQaze > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uQaze > :global(.__wab_flex-container) > picture > img,
.freeBox__uQaze
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-Pky-E4CaFvs4);
}
.link__kVce2 {
  position: relative;
  display: flex;
  flex-direction: row;
}
.link__kVce2 > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - var(--token-Pky-E4CaFvs4));
  width: calc(100% + var(--token-Pky-E4CaFvs4));
}
.link__kVce2 > :global(.__wab_flex-container) > *,
.link__kVce2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__kVce2 > :global(.__wab_flex-container) > picture > img,
.link__kVce2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Pky-E4CaFvs4);
}
@media (max-width: 768px) {
  .link__kVce2 {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .link__kVce2 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-WiiziFwxOi2m));
    height: calc(100% + var(--token-WiiziFwxOi2m));
  }
}
@media (max-width: 768px) {
  .link__kVce2 > :global(.__wab_flex-container) > *,
  .link__kVce2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .link__kVce2 > :global(.__wab_flex-container) > picture > img,
  .link__kVce2
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-WiiziFwxOi2m);
  }
}
.linkcityBased__kVce26E5D6 {
  display: none;
}
.text__vUoV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-ihd_nL0iXrHU);
  font-weight: 500;
  line-height: var(--token-8sCja8mvp5BW);
  text-align: center;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__vUoV {
    font-size: var(--token-Sm6Yzh3-eUmd);
  }
}
@media (min-width: 0px) and (max-width: 512px) {
  .text__vUoV {
    font-size: var(--token-XVPOh4mzS46r);
  }
}
.text__rddMu {
  font-size: var(--token-ihd_nL0iXrHU);
  font-weight: 300;
  color: var(--token-ivI5LngZjhOG);
  text-align: center;
  line-height: var(--token-8sCja8mvp5BW);
  text-decoration-line: underline;
  width: 20%;
}
@media (max-width: 768px) {
  .text__rddMu {
    font-size: var(--token-Sm6Yzh3-eUmd);
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 512px) {
  .text__rddMu {
    font-size: var(--token-XVPOh4mzS46r);
  }
}
.link__d8Gnv {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 80%;
}
.link__d8Gnv > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - var(--token-WiiziFwxOi2m));
  width: calc(100% + var(--token-WiiziFwxOi2m));
}
.link__d8Gnv > :global(.__wab_flex-container) > *,
.link__d8Gnv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__d8Gnv > :global(.__wab_flex-container) > picture > img,
.link__d8Gnv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-WiiziFwxOi2m);
}
@media (max-width: 768px) {
  .link__d8Gnv {
    width: 100%;
  }
}
.img__xBh9N {
  width: var(--token-rhiF2kSEHU_5);
  height: var(--token-Tlf-ABrmUB1t);
  flex-shrink: 0;
  border-radius: var(--token-zgYLUsWZe4ju);
}
.text__ujjNi {
  position: relative;
  align-self: center;
  color: var(--token-OLEGrY5ZMNsX);
}
@media (min-width: 0px) and (max-width: 512px) {
  .text__ujjNi {
    font-size: var(--token-qvVmkTovs_XH);
  }
}
.textcityBased__ujjNi6E5D6 {
  color: var(--token-5mZ_zXFml4u8);
  font-size: var(--token-gu88VE4b9SLP);
}
.freeBox__iiKgc {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
}
@media (max-width: 1024px) {
  .freeBox__iiKgc {
    width: 60%;
  }
}
@media (min-width: 0px) and (max-width: 512px) {
  .freeBox__iiKgc {
    width: 16%;
  }
}
.freeBox__ru3Sm {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-mOObcsDfmK2R) 8px 8px;
}
@media (min-width: 0px) and (max-width: 512px) {
  .freeBox__ru3Sm {
    display: none;
  }
}
.freeBox___8Wgfe {
  width: 100%;
  height: 1px;
  min-width: 0;
  border-bottom: 1px dashed var(--token-Ao7MqK40UU3D);
}
.svg {
  height: var(--token-Tlf-ABrmUB1t);
  color: var(--token-Ao7MqK40UU3D);
  width: var(--token-Tlf-ABrmUB1t);
  object-fit: cover;
  transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.svg * {
  transform-style: preserve-3d;
}
.freeBox__dL3Xv {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.freeBox__dL3Xv > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - var(--token-Pky-E4CaFvs4));
  height: calc(100% + var(--token-Pky-E4CaFvs4));
}
.freeBox__dL3Xv > :global(.__wab_flex-container) > *,
.freeBox__dL3Xv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dL3Xv > :global(.__wab_flex-container) > picture > img,
.freeBox__dL3Xv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-Pky-E4CaFvs4);
}
.link__ac6Xz {
  position: relative;
  display: flex;
  flex-direction: row;
}
.link__ac6Xz > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - var(--token-Pky-E4CaFvs4));
  width: calc(100% + var(--token-Pky-E4CaFvs4));
}
.link__ac6Xz > :global(.__wab_flex-container) > *,
.link__ac6Xz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__ac6Xz > :global(.__wab_flex-container) > picture > img,
.link__ac6Xz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Pky-E4CaFvs4);
}
@media (max-width: 768px) {
  .link__ac6Xz {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .link__ac6Xz > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-WiiziFwxOi2m));
    height: calc(100% + var(--token-WiiziFwxOi2m));
  }
}
@media (max-width: 768px) {
  .link__ac6Xz > :global(.__wab_flex-container) > *,
  .link__ac6Xz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .link__ac6Xz > :global(.__wab_flex-container) > picture > img,
  .link__ac6Xz
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-WiiziFwxOi2m);
  }
}
.linkcityBased__ac6Xz6E5D6 {
  display: none;
}
.text__toN1C {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-ihd_nL0iXrHU);
  font-weight: 500;
  line-height: var(--token-8sCja8mvp5BW);
  text-align: center;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__toN1C {
    font-size: var(--token-Sm6Yzh3-eUmd);
  }
}
@media (min-width: 0px) and (max-width: 512px) {
  .text__toN1C {
    font-size: var(--token-XVPOh4mzS46r);
  }
}
.text__lXNjO {
  font-size: var(--token-ihd_nL0iXrHU);
  font-weight: 300;
  color: var(--token-ivI5LngZjhOG);
  line-height: var(--token-8sCja8mvp5BW);
  text-decoration-line: underline;
  width: 20%;
  text-align: center;
}
@media (max-width: 768px) {
  .text__lXNjO {
    text-align: center;
    font-size: var(--token-Sm6Yzh3-eUmd);
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 512px) {
  .text__lXNjO {
    font-size: var(--token-XVPOh4mzS46r);
  }
}
.link__wVupe {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 80%;
}
.link__wVupe > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - var(--token-WiiziFwxOi2m));
  width: calc(100% + var(--token-WiiziFwxOi2m));
}
.link__wVupe > :global(.__wab_flex-container) > *,
.link__wVupe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__wVupe > :global(.__wab_flex-container) > picture > img,
.link__wVupe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-WiiziFwxOi2m);
}
@media (max-width: 768px) {
  .link__wVupe {
    width: 100%;
  }
}
.img__zm5HS {
  width: var(--token-rhiF2kSEHU_5);
  height: var(--token-Tlf-ABrmUB1t);
  flex-shrink: 0;
  border-radius: var(--token-zgYLUsWZe4ju);
}
.text__gcV3 {
  position: relative;
  color: var(--token-OLEGrY5ZMNsX);
}
@media (min-width: 0px) and (max-width: 512px) {
  .text__gcV3 {
    font-size: var(--token-qvVmkTovs_XH);
  }
}
.textcityBased__gcV36E5D6 {
  font-size: var(--token-gu88VE4b9SLP);
  color: var(--token-5mZ_zXFml4u8);
}
.freeBox__iL8S2 {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__iL8S2 > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - var(--token-Pky-E4CaFvs4));
  width: calc(100% + var(--token-Pky-E4CaFvs4));
}
.freeBox__iL8S2 > :global(.__wab_flex-container) > *,
.freeBox__iL8S2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iL8S2 > :global(.__wab_flex-container) > picture > img,
.freeBox__iL8S2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Pky-E4CaFvs4);
}
@media (max-width: 768px) {
  .freeBox__iL8S2 {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .freeBox__iL8S2 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-Pky-E4CaFvs4));
    height: calc(100% + var(--token-Pky-E4CaFvs4));
  }
}
@media (max-width: 768px) {
  .freeBox__iL8S2 > :global(.__wab_flex-container) > *,
  .freeBox__iL8S2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__iL8S2 > :global(.__wab_flex-container) > picture > img,
  .freeBox__iL8S2
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-Pky-E4CaFvs4);
  }
}
@media (min-width: 0px) and (max-width: 512px) {
  .freeBox__iL8S2 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 512px) {
  .freeBox__iL8S2 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-qrGY6Oo5hSNC));
    height: calc(100% + var(--token-qrGY6Oo5hSNC));
  }
}
@media (min-width: 0px) and (max-width: 512px) {
  .freeBox__iL8S2 > :global(.__wab_flex-container) > *,
  .freeBox__iL8S2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__iL8S2 > :global(.__wab_flex-container) > picture > img,
  .freeBox__iL8S2
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-qrGY6Oo5hSNC);
  }
}
.freeBoxcityBased__iL8S26E5D6 {
  display: none;
}
.freeBox__fs07 {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.freeBox__fs07 > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - var(--token-Pky-E4CaFvs4));
  height: calc(100% + var(--token-Pky-E4CaFvs4));
}
.freeBox__fs07 > :global(.__wab_flex-container) > *,
.freeBox__fs07 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fs07 > :global(.__wab_flex-container) > picture > img,
.freeBox__fs07
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-Pky-E4CaFvs4);
}
.freeBox___38B2K {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: var(--token-WiiziFwxOi2m);
}
.freeBox___38B2K > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - var(--token-Pky-E4CaFvs4));
  width: calc(100% + var(--token-Pky-E4CaFvs4));
}
.freeBox___38B2K > :global(.__wab_flex-container) > *,
.freeBox___38B2K > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___38B2K > :global(.__wab_flex-container) > picture > img,
.freeBox___38B2K
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Pky-E4CaFvs4);
}
@media (max-width: 768px) {
  .freeBox___38B2K > :global(.__wab_flex-container) {
    justify-content: space-between;
  }
}
@media (min-width: 0px) and (max-width: 512px) {
  .freeBox___38B2K > :global(.__wab_flex-container) {
    justify-content: space-between;
  }
}
.text__dJaRb {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-qvVmkTovs_XH);
  font-weight: 400;
  line-height: var(--token-8sCja8mvp5BW);
  text-align: center;
  color: var(--token-MA1kSsKwuAqt);
  flex-shrink: 0;
}
.text__dzqrG {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-qvVmkTovs_XH);
  font-weight: 600;
  line-height: var(--token-8sCja8mvp5BW);
  text-align: center;
  color: var(--token-5mZ_zXFml4u8);
  flex-shrink: 0;
}
.freeBox__hraT {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
}
@media (max-width: 1024px) {
  .freeBox__hraT {
    width: 60%;
  }
}
@media (max-width: 768px) {
  .freeBox__hraT {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 512px) {
  .freeBox__hraT {
    display: none;
  }
}
.freeBox__voHvi {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.freeBox__voHvi > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - var(--token-Pky-E4CaFvs4));
  height: calc(100% + var(--token-Pky-E4CaFvs4));
}
.freeBox__voHvi > :global(.__wab_flex-container) > *,
.freeBox__voHvi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__voHvi > :global(.__wab_flex-container) > picture > img,
.freeBox__voHvi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-Pky-E4CaFvs4);
}
.freeBox__wJa5S {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: var(--token-WiiziFwxOi2m);
}
.freeBox__wJa5S > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - var(--token-Pky-E4CaFvs4));
  width: calc(100% + var(--token-Pky-E4CaFvs4));
}
.freeBox__wJa5S > :global(.__wab_flex-container) > *,
.freeBox__wJa5S > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wJa5S > :global(.__wab_flex-container) > picture > img,
.freeBox__wJa5S
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Pky-E4CaFvs4);
}
@media (max-width: 768px) {
  .freeBox__wJa5S > :global(.__wab_flex-container) {
    justify-content: space-between;
  }
}
@media (min-width: 0px) and (max-width: 512px) {
  .freeBox__wJa5S > :global(.__wab_flex-container) {
    justify-content: space-between;
  }
}
.text__fRq67 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-qvVmkTovs_XH);
  font-weight: 400;
  line-height: var(--token-8sCja8mvp5BW);
  text-align: center;
  color: var(--token-MA1kSsKwuAqt);
  flex-shrink: 0;
}
.text__d5Uv3 {
  font-weight: 600;
  font-size: var(--token-qvVmkTovs_XH);
}
