.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 8px;
}
.notLogin {
  width: 100%;
  height: auto;
  justify-items: center;
  justify-self: stretch;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: var(--token-Tlf-ABrmUB1t) var(--token-6mQmIEer3GeD);
}
.notLogin > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - var(--token-8MkIlsFrrWgx));
  height: calc(100% + var(--token-8MkIlsFrrWgx));
}
.notLogin > :global(.__wab_flex-container) > *,
.notLogin > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.notLogin > :global(.__wab_flex-container) > picture > img,
.notLogin
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: var(--token-8MkIlsFrrWgx);
}
@media (max-width: 1280px) {
  .notLogin {
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
  }
}
@media (max-width: 1024px) {
  .notLogin {
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
  }
}
@media (min-width: 0px) and (max-width: 512px) {
  .notLogin {
    width: 100%;
    height: auto;
    justify-items: center;
    justify-self: stretch;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    padding: var(--token-Tlf-ABrmUB1t) var(--token-6mQmIEer3GeD);
  }
}
@media (min-width: 0px) and (max-width: 512px) {
  .notLogin > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-8MkIlsFrrWgx));
    height: calc(100% + var(--token-8MkIlsFrrWgx));
  }
}
@media (min-width: 0px) and (max-width: 512px) {
  .notLogin > :global(.__wab_flex-container) > *,
  .notLogin > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .notLogin > :global(.__wab_flex-container) > picture > img,
  .notLogin
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-8MkIlsFrrWgx);
  }
}
.freeBox {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-row-gap: 16px;
  grid-column-gap: 60px;
  width: auto;
}
@media (max-width: 1280px) {
  .freeBox {
    grid-column-gap: 60px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 100%;
    margin-top: calc(0px + var(--token-8MkIlsFrrWgx)) !important;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    min-width: 0;
  }
}
@media (max-width: 1024px) {
  .freeBox {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-row-gap: 50px;
    grid-column-gap: 100px;
    width: auto;
    margin-top: calc(0px + var(--token-8MkIlsFrrWgx)) !important;
  }
}
@media (min-width: 0px) and (max-width: 512px) {
  .freeBox {
    grid-column-gap: 30px;
    width: 100%;
    margin-top: calc(0px + var(--token-8MkIlsFrrWgx)) !important;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    min-width: 0;
  }
}
.flight2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 220px;
  max-width: 100%;
  padding-left: var(--token-mNc0RnoYTIiN);
  padding-right: var(--token-mNc0RnoYTIiN);
  padding-top: var(--token-mNc0RnoYTIiN);
  position: relative;
  box-shadow: 0px 4px 16px 0px #4c4c4c33;
  min-width: 0;
  border-radius: 12px;
}
.flight2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.flight2 > :global(.__wab_flex-container) > *,
.flight2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.flight2 > :global(.__wab_flex-container) > picture > img,
.flight2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (max-width: 1280px) {
  .flight2 {
    box-shadow: 0px 4px 16px 0px #4c4c4c33;
    width: 100%;
    height: 220px;
    min-width: 0;
    border-radius: 12px;
  }
}
@media (max-width: 1280px) {
  .flight2 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
@media (max-width: 1024px) {
  .flight2 {
    width: 266px;
  }
}
@media (max-width: 768px) {
  .flight2 {
    width: 221px;
  }
}
@media (min-width: 0px) and (max-width: 512px) {
  .flight2 {
    height: 100%;
    width: 100%;
    padding-right: 0px;
    margin-bottom: 0px;
    padding-left: var(--token-mNc0RnoYTIiN);
    padding-top: 0px;
    min-width: 0;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 512px) {
  .flight2 > :global(.__wab_flex-container) {
    min-width: 0;
    min-height: 0;
  }
}
.section__f8Ssl {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  height: var(--token-8MkIlsFrrWgx);
  min-width: 0;
  flex-shrink: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__f8Ssl > * {
  grid-column: 4;
}
@media (max-width: 1280px) {
  .section__f8Ssl > * {
    grid-column: 4;
  }
}
@media (max-width: 1024px) {
  .section__f8Ssl > * {
    grid-column: 4;
  }
}
@media (max-width: 768px) {
  .section__f8Ssl > * {
    grid-column: 4;
  }
}
@media (min-width: 0px) and (max-width: 512px) {
  .section__f8Ssl {
    margin-top: calc(0px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 512px) {
  .section__f8Ssl > * {
    grid-column: 4;
  }
}
.flightIcon1 {
  object-fit: cover;
  width: 100%;
  height: var(--token-8MkIlsFrrWgx);
  color: var(--token-FDJo2-0F5JCp);
  transform: none;
  margin-bottom: 0px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  border-radius: 20px;
}
@media (max-width: 1280px) {
  .flightIcon1 {
    width: 100%;
    height: var(--token-8MkIlsFrrWgx);
    grid-column-start: 3 !important;
    grid-column-end: -3 !important;
  }
}
@media (max-width: 1024px) {
  .flightIcon1 {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 512px) {
  .flightIcon1 {
    width: 100%;
    justify-self: center;
    height: var(--token-8MkIlsFrrWgx);
    margin-top: 0px;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.text__z4PBk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: #8e8e8e;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 512px) {
  .text__z4PBk {
    color: var(--token-FDJo2-0F5JCp);
    width: 100%;
    min-width: 0;
  }
}
.flights2 {
  color: #8e8e8e;
  text-align: center;
  font-family: "Vazirmatn", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 512px) {
  .flights2 {
    color: var(--token-FDJo2-0F5JCp);
    width: 100%;
    font-size: 15px;
    margin-bottom: 10px;
    min-width: 0;
  }
}
.hours2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 220px;
  max-width: 100%;
  padding-left: var(--token-mNc0RnoYTIiN);
  padding-top: var(--token-mNc0RnoYTIiN);
  position: relative;
  box-shadow: 0px 4px 16px 0px #4c4c4c33;
  margin-bottom: 14px;
  padding-right: 0px;
  min-width: 0;
  border-radius: 12px;
}
.hours2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.hours2 > :global(.__wab_flex-container) > *,
.hours2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.hours2 > :global(.__wab_flex-container) > picture > img,
.hours2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (max-width: 1280px) {
  .hours2 {
    box-shadow: 0px 4px 16px 0px #4c4c4c33;
    width: 100%;
    min-width: 0;
    border-radius: 12px;
  }
}
@media (max-width: 1280px) {
  .hours2 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
@media (max-width: 1024px) {
  .hours2 {
    width: 266px;
  }
}
@media (max-width: 768px) {
  .hours2 {
    width: 221px;
  }
}
@media (min-width: 0px) and (max-width: 512px) {
  .hours2 {
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
    min-width: 0;
    min-height: 0;
    padding: var(--token-mNc0RnoYTIiN) 0px 0px;
  }
}
@media (min-width: 0px) and (max-width: 512px) {
  .hours2 > :global(.__wab_flex-container) {
    min-width: 0;
    min-height: 0;
  }
}
.section__nASjK {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-top: calc(0px + 12px) !important;
  height: var(--token-8MkIlsFrrWgx);
  min-width: 0;
  flex-shrink: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__nASjK > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 512px) {
  .section__nASjK {
    padding-top: 0px;
    margin-top: calc(5px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 512px) {
  .section__nASjK > * {
    grid-column: 4;
  }
}
.hour2 {
  object-fit: cover;
  width: 100%;
  height: var(--token-8MkIlsFrrWgx);
  color: var(--token-FDJo2-0F5JCp);
  transform: none;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  border-radius: 20px;
}
@media (max-width: 1280px) {
  .hour2 {
    width: 100%;
    height: var(--token-8MkIlsFrrWgx);
    grid-column-start: 3 !important;
    grid-column-end: -3 !important;
  }
}
@media (max-width: 1024px) {
  .hour2 {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 512px) {
  .hour2 {
    width: 100%;
    justify-self: center;
    height: var(--token-8MkIlsFrrWgx);
    margin-top: 0px;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.text__zrj2R {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: #8e8e8e;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 512px) {
  .text__zrj2R {
    color: var(--token-FDJo2-0F5JCp);
    width: 100%;
    min-width: 0;
  }
}
.text__nJDcY {
  color: #8e8e8ed9;
  text-align: center;
  font-family: "Vazirmatn", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-right: 0px;
}
@media (min-width: 0px) and (max-width: 512px) {
  .text__nJDcY {
    color: var(--token-FDJo2-0F5JCp);
    width: 100%;
    font-size: 15px;
    padding-bottom: 3px;
    margin-bottom: 15px;
    min-width: 0;
  }
}
.city2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 220px;
  max-width: 100%;
  position: relative;
  box-shadow: 0px 4px 16px 0px #4c4c4c33;
  min-width: 0;
  border-radius: 12px;
  padding: var(--token-mNc0RnoYTIiN) var(--token-mNc0RnoYTIiN)
    var(--token-mNc0RnoYTIiN) 0px;
}
.city2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.city2 > :global(.__wab_flex-container) > *,
.city2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.city2 > :global(.__wab_flex-container) > picture > img,
.city2 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 12px;
}
@media (max-width: 1280px) {
  .city2 {
    box-shadow: 0px 4px 16px 0px #4c4c4c33;
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
    border-radius: 12px;
  }
}
@media (max-width: 1280px) {
  .city2 > :global(.__wab_flex-container) {
    min-width: 0;
    min-height: 0;
  }
}
@media (max-width: 1024px) {
  .city2 {
    width: 266px;
  }
}
@media (max-width: 768px) {
  .city2 {
    width: 221px;
  }
}
@media (min-width: 0px) and (max-width: 512px) {
  .city2 {
    height: 100%;
    margin-bottom: 0px;
    width: 100%;
    padding-bottom: 0px;
    padding-right: 0px;
    min-width: 0;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 512px) {
  .city2 > :global(.__wab_flex-container) {
    min-width: 0;
    min-height: 0;
  }
}
.section__rsUa6 {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  height: var(--token-8MkIlsFrrWgx);
  min-width: 0;
  flex-shrink: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__rsUa6 > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 512px) {
  .section__rsUa6 {
    width: 100%;
    margin-bottom: 0px;
    height: var(--token-8MkIlsFrrWgx);
    min-width: 0;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 512px) {
  .section__rsUa6 > * {
    grid-column: 4;
  }
}
.cityIcon2 {
  object-fit: cover;
  width: 100%;
  height: var(--token-8MkIlsFrrWgx);
  color: var(--token-FDJo2-0F5JCp);
  transform: none;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  border-radius: 20px;
}
@media (max-width: 1280px) {
  .cityIcon2 {
    width: 100%;
    height: var(--token-8MkIlsFrrWgx);
    grid-column-start: 3 !important;
    grid-column-end: -3 !important;
  }
}
@media (max-width: 1024px) {
  .cityIcon2 {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 512px) {
  .cityIcon2 {
    width: 100%;
    justify-self: center;
    height: var(--token-8MkIlsFrrWgx);
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.text__eTtc8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: #8e8e8e;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 512px) {
  .text__eTtc8 {
    color: var(--token-FDJo2-0F5JCp);
    width: 100%;
    min-width: 0;
  }
}
.text__ziqGr {
  color: #8e8e8ed9;
  text-align: center;
  font-family: "Vazirmatn", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-right: 0px;
  margin-right: 0px;
}
@media (min-width: 0px) and (max-width: 512px) {
  .text__ziqGr {
    color: var(--token-FDJo2-0F5JCp);
    width: 100%;
    font-size: 15px;
    margin-bottom: 14px;
    min-width: 0;
  }
}
.airport3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 220px;
  max-width: 100%;
  padding-top: var(--token-mNc0RnoYTIiN);
  position: relative;
  box-shadow: 0px 4px 16px 0px #4c4c4c33;
  min-width: 0;
  border-radius: 12px;
}
.airport3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.airport3 > :global(.__wab_flex-container) > *,
.airport3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.airport3 > :global(.__wab_flex-container) > picture > img,
.airport3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (max-width: 1280px) {
  .airport3 {
    box-shadow: 0px 4px 16px 0px #4c4c4c33;
    width: 100%;
    height: 220px;
    min-width: 0;
    border-radius: 12px;
  }
}
@media (max-width: 1280px) {
  .airport3 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
@media (max-width: 1024px) {
  .airport3 {
    width: 266px;
  }
}
@media (max-width: 768px) {
  .airport3 {
    width: 221px;
  }
}
@media (min-width: 0px) and (max-width: 512px) {
  .airport3 {
    height: 100%;
    margin-bottom: 0px;
    width: 100%;
    min-width: 0;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 512px) {
  .airport3 > :global(.__wab_flex-container) {
    min-width: 0;
    min-height: 0;
  }
}
.section__sUjj6 {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  height: var(--token-8MkIlsFrrWgx);
  min-width: 0;
  flex-shrink: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__sUjj6 > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 512px) {
  .section__sUjj6 {
    padding-top: 2px;
    margin-top: calc(9px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 512px) {
  .section__sUjj6 > * {
    grid-column: 4;
  }
}
.airportIcon3 {
  object-fit: cover;
  width: 100%;
  height: var(--token-8MkIlsFrrWgx);
  color: var(--token-FDJo2-0F5JCp);
  transform: none;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  border-radius: 20px;
}
@media (max-width: 1280px) {
  .airportIcon3 {
    width: 100%;
    height: var(--token-8MkIlsFrrWgx);
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 512px) {
  .airportIcon3 {
    height: var(--token-8MkIlsFrrWgx);
    width: 100%;
    justify-self: center;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    margin: 0px;
  }
}
.text__fQhVm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: #8e8e8e;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 512px) {
  .text__fQhVm {
    color: var(--token-FDJo2-0F5JCp);
    width: 100%;
    min-width: 0;
  }
}
.text___44KI0 {
  color: var(--token-FDJo2-0F5JCp);
  text-align: center;
  font-family: "Vazirmatn", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 512px) {
  .text___44KI0 {
    color: var(--token-FDJo2-0F5JCp);
    width: 100%;
    font-size: 15px;
    margin-bottom: 14px;
    min-width: 0;
  }
}
.km2 {
  flex-direction: column;
  width: 180px;
  height: 227px;
  max-width: 100%;
  position: relative;
  display: none;
  padding: var(--token-mNc0RnoYTIiN);
}
.km2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.km2 > :global(.__wab_flex-container) > *,
.km2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.km2 > :global(.__wab_flex-container) > picture > img,
.km2 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 12px;
}
.text__iu4Hz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.milesFlown2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.country2 {
  flex-direction: column;
  width: 180px;
  height: 227px;
  max-width: 100%;
  position: relative;
  display: none;
  padding: var(--token-mNc0RnoYTIiN);
}
.country2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.country2 > :global(.__wab_flex-container) > *,
.country2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.country2 > :global(.__wab_flex-container) > picture > img,
.country2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.text__epv9D {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__mOgHn {
  color: #8e8e93;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.login {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  left: 0;
  top: auto;
  z-index: 1000;
  right: 0;
  bottom: 0;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px #59595933;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-bottom: 8px;
  min-width: 0;
}
.login > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.login > :global(.__wab_flex-container) > *,
.login > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.login > :global(.__wab_flex-container) > picture > img,
.login > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 12px;
}
@media (max-width: 1280px) {
  .login {
    box-shadow: 0px 4px 16px 0px #4c4c4c33;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
  }
}
@media (min-width: 0px) and (max-width: 512px) {
  .login {
    margin-bottom: 8px;
    padding-top: 16px;
    box-shadow: 0px 4px 16px 0px #4c4c4c33;
    z-index: 1000;
    background: #ffffff;
    left: 0;
    top: auto;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    border-radius: 12px;
  }
}
.text__js5CD {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "Vazirmatn", sans-serif;
  color: #8e8e8e;
  padding-top: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 512px) {
  .text__js5CD {
    width: 100%;
    padding-top: 0px;
    min-width: 0;
  }
}
.link {
  display: flex;
  position: relative;
  width: 100%;
  height: 45px;
  max-width: 184px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ff334e;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 0px;
  border: 1px solid #b5b5b5;
}
.text__vQazz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  color: #ffffff;
  font-family: "Vazirmatn", sans-serif;
  text-align: center;
  min-width: 0;
}
