.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 64px;
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px #a0a0a033;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
  border-bottom: 1px solid #f5f5f5;
}
.section__o9Qyn {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  height: 0px;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__o9Qyn > * {
  grid-column: 4;
}
.section__apFIv {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__apFIv > * {
  grid-column: 4;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 48px;
}
.img > picture > img {
  object-fit: cover;
}
.section__gIbva {
  display: grid;
  position: relative;
  align-content: center;
  justify-items: flex-end;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__gIbva > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 512px) {
  .section__gIbva > * {
    grid-column: 4;
  }
}
.link {
  margin-right: 16px;
  display: flex;
  color: #535353;
  max-width: 53px;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  height: 32px;
}
