.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
  flex-shrink: 1;
  min-width: 0;
  padding: 100px;
}
.notLogin {
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
  width: 100%;
  height: auto;
  justify-items: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: center;
  min-width: 0;
  padding: var(--token-Tlf-ABrmUB1t) var(--token-6mQmIEer3GeD);
}
.notLogin > :global(.__wab_flex-container) {
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - var(--token-8MkIlsFrrWgx));
  height: calc(100% + var(--token-8MkIlsFrrWgx));
}
.notLogin > :global(.__wab_flex-container) > *,
.notLogin > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.notLogin > :global(.__wab_flex-container) > picture > img,
.notLogin
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-8MkIlsFrrWgx);
}
.img {
  width: 100%;
  margin-top: calc(64px + var(--token-8MkIlsFrrWgx)) !important;
  min-width: 0;
}
.login {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  left: 0;
  top: auto;
  z-index: 1000;
  right: 0;
  bottom: 0;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px #59595933;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-bottom: 8px;
  min-width: 0;
}
.login > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.login > :global(.__wab_flex-container) > *,
.login > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.login > :global(.__wab_flex-container) > picture > img,
.login > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 12px;
}
.text__s32Z8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Vazirmatn", sans-serif;
  color: #8e8e8e;
  text-align: center;
  min-width: 0;
}
.link {
  display: flex;
  width: 100%;
  height: 45px;
  background: #ff334e;
  max-width: 184px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #b5b5b5;
}
.text__qr4Mp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  align-self: center;
  text-align: center;
  font-family: "Vazirmatn", sans-serif;
  min-width: 0;
}
