.root {
  background: var(--token-p9mBFxnn3trO);
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-top: 64px;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
}
.profileHeader:global(.__wab_instance) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  flex-shrink: 0;
}
@media (max-width: 1280px) {
  .profileHeader:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 512px) {
  .profileHeader:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.body {
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 0;
}
@media (max-width: 1280px) {
  .body {
    width: 100%;
    padding-left: 0px;
    min-width: 0;
    display: block;
  }
}
.httpRestApiFetcher:global(.__wab_instance) {
  object-fit: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 30px;
}
@media (max-width: 1280px) {
  .httpRestApiFetcher:global(.__wab_instance) {
    padding: 20px;
  }
}
@media (max-width: 1024px) {
  .httpRestApiFetcher:global(.__wab_instance) {
    padding-top: 20px;
  }
}
@media (max-width: 768px) {
  .httpRestApiFetcher:global(.__wab_instance) {
    padding: 20px;
  }
}
@media (min-width: 0px) and (max-width: 512px) {
  .httpRestApiFetcher:global(.__wab_instance) {
    height: auto;
    width: 100%;
    max-width: var(--token-Ls4kjfvyF7vL);
    grid-column-start: 3 !important;
    grid-column-end: -3 !important;
    padding: 0px;
  }
}
.section__fQPuI {
  height: auto;
  width: auto;
  justify-items: center;
  align-content: flex-start;
  display: grid;
  max-width: 100%;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 8px;
}
.section__fQPuI > * {
  grid-column: 4;
}
.img {
  object-fit: cover;
  left: auto;
  top: auto;
  position: relative;
  transform: none;
  filter: grayscale(100%);
  border-radius: 50%;
}
.img > picture > img {
  object-fit: cover;
}
@media (max-width: 1280px) {
  .img {
    width: 100%;
    left: auto;
    top: auto;
    min-width: 0;
  }
}
.login__gIQof:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
}
.freeBox___1ZL {
  width: 100%;
  height: auto;
  justify-items: center;
  justify-self: stretch;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: var(--token-Tlf-ABrmUB1t) var(--token-6mQmIEer3GeD);
}
.freeBox___1ZL > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - var(--token-8MkIlsFrrWgx));
  height: calc(100% + var(--token-8MkIlsFrrWgx));
}
.freeBox___1ZL > :global(.__wab_flex-container) > *,
.freeBox___1ZL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1ZL > :global(.__wab_flex-container) > picture > img,
.freeBox___1ZL
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: var(--token-8MkIlsFrrWgx);
}
.freeBox__caBqh {
  align-items: center;
  justify-content: flex-start;
  grid-column-gap: 60px;
  grid-row-gap: 16px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin-top: calc(14px + var(--token-8MkIlsFrrWgx)) !important;
  margin-right: 14px;
  margin-bottom: 14px;
  margin-left: 14px;
  flex-direction: column;
  display: grid;
  position: relative;
  width: auto;
}
@media (max-width: 1280px) {
  .freeBox__caBqh {
    grid-column-gap: 60px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: auto;
    margin-top: calc(0px + var(--token-8MkIlsFrrWgx)) !important;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    height: auto;
  }
}
@media (max-width: 1024px) {
  .freeBox__caBqh {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-row-gap: 50px;
    grid-column-gap: 100px;
    width: auto;
    margin-top: calc(0px + var(--token-8MkIlsFrrWgx)) !important;
  }
}
@media (max-width: 768px) {
  .freeBox__caBqh {
    margin-top: calc(0px + var(--token-8MkIlsFrrWgx)) !important;
  }
}
@media (min-width: 0px) and (max-width: 512px) {
  .freeBox__caBqh {
    width: 100%;
    margin-top: calc(0px + var(--token-8MkIlsFrrWgx)) !important;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    grid-column-gap: 35px;
    min-width: 0;
  }
}
.flight {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 220px;
  max-width: 100%;
  position: relative;
  box-shadow: 0px 4px 16px 0px #4c4c4c33;
  background: none;
  min-width: 0;
  border-radius: 12px;
  padding: var(--token-mNc0RnoYTIiN) var(--token-mNc0RnoYTIiN) 0px;
}
.flight > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.flight > :global(.__wab_flex-container) > *,
.flight > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.flight > :global(.__wab_flex-container) > picture > img,
.flight
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (max-width: 1280px) {
  .flight {
    box-shadow: 0px 4px 16px 0px #4c4c4c33;
    width: 371px;
    height: 227px;
    border-radius: 12px;
    padding: var(--token-mNc0RnoYTIiN);
  }
}
@media (max-width: 1024px) {
  .flight {
    width: 266px;
  }
}
@media (max-width: 768px) {
  .flight {
    width: 221px;
  }
}
@media (min-width: 0px) and (max-width: 512px) {
  .flight {
    height: 100%;
    width: 100%;
    min-width: 0;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 512px) {
  .flight > :global(.__wab_flex-container) {
    min-width: 0;
    min-height: 0;
  }
}
.section__shzgu {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__shzgu > * {
  grid-column: 4;
}
@media (max-width: 1280px) {
  .section__shzgu > * {
    grid-column: 4;
  }
}
.flightIcon {
  backdrop-filter: blur(0px);
  transform: none;
  color: #ff334e;
  height: 110px;
  width: 100%;
  object-fit: cover;
  justify-self: flex-start;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  -webkit-backdrop-filter: blur(0px);
  border-radius: 20px;
}
@media (max-width: 1280px) {
  .flightIcon {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 1024px) {
  .flightIcon {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 512px) {
  .flightIcon {
    width: 100%;
    height: 100%;
    justify-self: flex-start;
    min-width: 0;
    min-height: 0;
  }
}
.text___17Ntc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-5mZ_zXFml4u8);
  font-size: 18px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 1280px) {
  .text___17Ntc {
    color: var(--token-ZSy-woW01QvW);
  }
}
.text__qmsYg {
  color: var(--token-bvlI1E1je5LA);
  text-align: center;
  font-family: "Vazirmatn", sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-right: 0px;
}
@media (max-width: 1280px) {
  .text__qmsYg {
    color: var(--token-ZSy-woW01QvW);
  }
}
@media (min-width: 0px) and (max-width: 512px) {
  .text__qmsYg {
    width: 100%;
    font-size: 16px;
    margin-bottom: 5px;
    min-width: 0;
  }
}
.hours {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  position: relative;
  box-shadow: 0px 4px 16px 0px #4c4c4c33;
  min-width: 0;
  min-height: 0;
  border-radius: 12px;
  padding: var(--token-mNc0RnoYTIiN) var(--token-mNc0RnoYTIiN) 0px;
}
.hours > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.hours > :global(.__wab_flex-container) > *,
.hours > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.hours > :global(.__wab_flex-container) > picture > img,
.hours > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 12px;
}
@media (max-width: 1280px) {
  .hours {
    box-shadow: 0px 4px 16px 0px #4c4c4c33;
    width: 406px;
    border-radius: 12px;
  }
}
@media (max-width: 1024px) {
  .hours {
    width: 266px;
  }
}
@media (max-width: 768px) {
  .hours {
    width: 221px;
  }
}
@media (min-width: 0px) and (max-width: 512px) {
  .hours {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 512px) {
  .hours > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.section__lea6F {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__lea6F > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 512px) {
  .section__lea6F > * {
    grid-column: 4;
  }
}
.svg {
  object-fit: cover;
  color: #2c2828d9;
  width: 100%;
  margin-top: 0px;
  height: 110px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
@media (min-width: 0px) and (max-width: 512px) {
  .svg {
    height: 100%;
    width: 100%;
    justify-self: flex-start;
    margin-top: 5px;
    grid-column-start: 3 !important;
    grid-column-end: -3 !important;
    min-height: 0;
  }
}
.text__f9Qed {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-5mZ_zXFml4u8);
  font-size: 18px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 1280px) {
  .text__f9Qed {
    color: var(--token-ZSy-woW01QvW);
  }
}
.text__oI9H8 {
  color: var(--token-5mZ_zXFml4u8);
  text-align: center;
  font-family: "Vazirmatn", sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-right: 0px;
}
@media (max-width: 1280px) {
  .text__oI9H8 {
    color: var(--token-ZSy-woW01QvW);
  }
}
@media (min-width: 0px) and (max-width: 512px) {
  .text__oI9H8 {
    width: 100%;
    font-size: 16px;
    margin-bottom: 5px;
    min-width: 0;
  }
}
.city {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  position: relative;
  box-shadow: 0px 4px 16px 0px #4c4c4c33;
  min-width: 0;
  min-height: 0;
  border-radius: 12px;
  padding: var(--token-mNc0RnoYTIiN);
}
.city > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.city > :global(.__wab_flex-container) > *,
.city > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.city > :global(.__wab_flex-container) > picture > img,
.city > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 12px;
}
@media (max-width: 1280px) {
  .city {
    box-shadow: 0px 4px 16px 0px #4c4c4c33;
    width: 405px;
    border-radius: 12px;
  }
}
@media (max-width: 1024px) {
  .city {
    width: 266px;
  }
}
@media (max-width: 768px) {
  .city {
    width: 221px;
  }
}
@media (min-width: 0px) and (max-width: 512px) {
  .city {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 512px) {
  .city > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.section__mPYa {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__mPYa > * {
  grid-column: 4;
}
@media (max-width: 1280px) {
  .section__mPYa > * {
    grid-column: 4;
  }
}
@media (max-width: 1024px) {
  .section__mPYa > * {
    grid-column: 4;
  }
}
@media (max-width: 768px) {
  .section__mPYa > * {
    grid-column: 4;
  }
}
@media (min-width: 0px) and (max-width: 512px) {
  .section__mPYa > * {
    grid-column: 4;
  }
}
.cityIcon {
  object-fit: cover;
  width: 100%;
  height: 110px;
  color: var(--token-17mXdOGqDzJR);
  transform: none;
  min-width: 0;
  border-radius: 20px;
}
@media (max-width: 1280px) {
  .cityIcon {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 1024px) {
  .cityIcon {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 512px) {
  .cityIcon {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.text__dhf2M {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-5mZ_zXFml4u8);
  font-size: 18px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 1280px) {
  .text__dhf2M {
    color: var(--token-ZSy-woW01QvW);
  }
}
.text__aJz8N {
  color: var(--token-5mZ_zXFml4u8);
  text-align: center;
  font-family: "Vazirmatn", sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-right: 0px;
  margin-right: 0px;
}
@media (max-width: 1280px) {
  .text__aJz8N {
    color: var(--token-ZSy-woW01QvW);
  }
}
@media (min-width: 0px) and (max-width: 512px) {
  .text__aJz8N {
    width: 100%;
    font-size: 16px;
    margin-bottom: 5px;
    min-width: 0;
  }
}
.airport2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 220px;
  max-width: 100%;
  position: relative;
  box-shadow: 0px 4px 16px 0px #4c4c4c33;
  min-width: 0;
  border-radius: 12px;
  padding: var(--token-mNc0RnoYTIiN);
}
.airport2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.airport2 > :global(.__wab_flex-container) > *,
.airport2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.airport2 > :global(.__wab_flex-container) > picture > img,
.airport2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (max-width: 1280px) {
  .airport2 {
    box-shadow: 0px 4px 16px 0px #4c4c4c33;
    width: 405px;
    border-radius: 12px;
  }
}
@media (max-width: 1024px) {
  .airport2 {
    width: 266px;
  }
}
@media (max-width: 768px) {
  .airport2 {
    width: 221px;
  }
}
@media (min-width: 0px) and (max-width: 512px) {
  .airport2 {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 512px) {
  .airport2 > :global(.__wab_flex-container) {
    min-width: 0;
    min-height: 0;
  }
}
.section__jEdHu {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__jEdHu > * {
  grid-column: 4;
}
@media (max-width: 1280px) {
  .section__jEdHu > * {
    grid-column: 4;
  }
}
.airportIcon2 {
  object-fit: cover;
  width: 100%;
  height: 110px;
  color: #2f4b78;
  transform: none;
  min-width: 0;
  border-radius: 20px;
}
@media (max-width: 1280px) {
  .airportIcon2 {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 1024px) {
  .airportIcon2 {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 512px) {
  .airportIcon2 {
    width: 100%;
    height: 100%;
    margin-top: 5px;
    min-width: 0;
    min-height: 0;
  }
}
.text__jBlXk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-5mZ_zXFml4u8);
  font-size: 18px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 1280px) {
  .text__jBlXk {
    color: var(--token-ZSy-woW01QvW);
  }
}
.text__neK0L {
  color: var(--token-5mZ_zXFml4u8);
  text-align: center;
  font-family: "Vazirmatn", sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (max-width: 1280px) {
  .text__neK0L {
    color: var(--token-ZSy-woW01QvW);
  }
}
@media (min-width: 0px) and (max-width: 512px) {
  .text__neK0L {
    width: 100%;
    font-size: 16px;
    margin-bottom: 5px;
    min-width: 0;
  }
}
.km {
  flex-direction: column;
  width: 180px;
  height: 227px;
  max-width: 100%;
  position: relative;
  display: none;
  padding: var(--token-mNc0RnoYTIiN);
}
.km > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.km > :global(.__wab_flex-container) > *,
.km > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.km > :global(.__wab_flex-container) > picture > img,
.km > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 12px;
}
.freeBox__rb0AG {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__d8Ieh {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-mTnGDXQRxVSE);
  transform: none;
  border-radius: 20px;
  padding: 6px;
}
.kmIcon {
  object-fit: cover;
  width: 110px;
  height: 110px;
  color: var(--token-FDJo2-0F5JCp);
  transform: none;
  flex-shrink: 0;
  border-radius: 20px;
}
.text__m3Hif {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.milesFlown {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.country {
  flex-direction: column;
  width: 180px;
  height: 227px;
  max-width: 100%;
  position: relative;
  display: none;
  padding: var(--token-mNc0RnoYTIiN);
}
.country > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.country > :global(.__wab_flex-container) > *,
.country > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.country > :global(.__wab_flex-container) > picture > img,
.country
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.freeBox__tZYxa {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__qGMte {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-mTnGDXQRxVSE);
  transform: none;
  border-radius: 20px;
  padding: 6px;
}
.countryIcon {
  object-fit: cover;
  width: 110px;
  height: 110px;
  color: var(--token-FDJo2-0F5JCp);
  transform: none;
  flex-shrink: 0;
  border-radius: 20px;
}
.text___8XAg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___691HQ {
  color: #8e8e93;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.login__eMcp:global(.__wab_instance) {
  position: relative;
  right: auto;
  left: auto;
  bottom: auto;
  top: auto;
}
@media (min-width: 0px) and (max-width: 512px) {
  .login__eMcp:global(.__wab_instance) {
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
  }
}
