.root {
  background: var(--token-p9mBFxnn3trO);
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-top: 64px;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
}
.profileHeader:global(.__wab_instance) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  flex-shrink: 0;
}
@media (max-width: 1280px) {
  .profileHeader:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 512px) {
  .profileHeader:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.body {
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 0;
}
@media (max-width: 1280px) {
  .body {
    width: 100%;
    padding-left: 0px;
    min-width: 0;
  }
}
.httpRestApiFetcher:global(.__wab_instance) {
  object-fit: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 30px;
}
@media (max-width: 1280px) {
  .httpRestApiFetcher:global(.__wab_instance) {
    padding: 20px;
  }
}
@media (max-width: 1024px) {
  .httpRestApiFetcher:global(.__wab_instance) {
    padding-top: 20px;
  }
}
@media (max-width: 768px) {
  .httpRestApiFetcher:global(.__wab_instance) {
    padding: 20px;
  }
}
@media (min-width: 0px) and (max-width: 512px) {
  .httpRestApiFetcher:global(.__wab_instance) {
    height: auto;
    width: 100%;
    max-width: var(--token-Ls4kjfvyF7vL);
    grid-column-start: 3 !important;
    grid-column-end: -3 !important;
    padding: 0px;
  }
}
.section__ix173 {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  top: auto;
  left: auto;
  padding-top: 5px;
  margin-top: 10px;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__ix173 > * {
  grid-column: 4;
}
.freeBox___1805 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  padding-top: 5px;
  min-width: 0;
}
.freeBox___1805 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  margin-left: calc(0px - var(--token-mOObcsDfmK2R));
  width: calc(100% + var(--token-mOObcsDfmK2R));
}
.freeBox___1805 > :global(.__wab_flex-container) > *,
.freeBox___1805 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1805 > :global(.__wab_flex-container) > picture > img,
.freeBox___1805
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-mOObcsDfmK2R);
}
.all2:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__jiMDg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__seb3J {
  font-family: "Vazirmatn", sans-serif;
  padding-right: 5px;
  padding-left: 5px;
}
.svg__do1Cz {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
._2025:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__wzp3G {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__mQu1I {
  padding-right: 5px;
  padding-left: 5px;
  font-family: "Vazirmatn", sans-serif;
}
.svg__eApsO {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
._2026:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__cy8Xt {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
._20234 {
  padding-right: 5px;
  padding-left: 5px;
  font-family: "Vazirmatn", sans-serif;
}
.svg___4FrqR {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
._2027:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__fIvU {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__jg2Sh {
  padding-right: 5px;
  padding-left: 5px;
  font-family: "Vazirmatn", sans-serif;
}
.svg__tlyM {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.loadimg {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  margin: 20px 0px;
}
.loadimg > * {
  grid-column: 4;
}
.img___9Mgzk {
  object-fit: cover;
  left: auto;
  top: auto;
  position: relative;
  transform: none;
  filter: none;
  width: auto;
  justify-self: center;
  border-radius: 50%;
}
.img___9Mgzk > picture > img {
  object-fit: cover;
}
@media (max-width: 1280px) {
  .img___9Mgzk {
    width: 100%;
    left: auto;
    top: auto;
    min-width: 0;
  }
}
.time3 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: var(--token-8MkIlsFrrWgx);
  max-width: 100%;
  box-shadow: none;
  margin-bottom: 15px;
  margin-top: 10px;
  background: var(--token-DbGdjBpQ6R_X);
  filter: none;
  min-width: 0;
  border-radius: 20px;
  padding: 40px 8px;
  border: 1px dashed var(--token-Pxe4wDL2kJpb);
}
.freeBox__v6E8N {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__v6E8N > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-Pky-E4CaFvs4));
  width: calc(100% + var(--token-Pky-E4CaFvs4));
}
.freeBox__v6E8N > :global(.__wab_flex-container) > *,
.freeBox__v6E8N > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__v6E8N > :global(.__wab_flex-container) > picture > img,
.freeBox__v6E8N
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Pky-E4CaFvs4);
}
.timeIcon {
  backdrop-filter: blur(0px);
  transform: none;
  color: var(--token-0pVtkP-kaM_p);
  height: var(--token-6mQmIEer3GeD);
  width: auto;
  object-fit: cover;
  -webkit-backdrop-filter: blur(0px);
}
.text__kp060 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #000000;
  font-weight: 400;
  font-size: 18px;
  font-family: "Vazirmatn", sans-serif;
}
.text__eu2Ys {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  left: auto;
  top: auto;
  font-weight: 700;
  font-family: "Vazirmatn", sans-serif;
  font-size: 20px;
  color: var(--token-0pVtkP-kaM_p);
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-right: 10px;
  padding-left: 10px;
}
.flights3 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: var(--token-8MkIlsFrrWgx);
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px #c2c2c233;
  margin-bottom: 15px;
  margin-top: 0px;
  background: var(--token-DbGdjBpQ6R_X);
  filter: none;
  min-width: 0;
  border-radius: 20px;
  padding: 40px 8px;
  border: 1px dashed var(--token-Pxe4wDL2kJpb);
}
.freeBox__eGiZs {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-left: 15px;
  min-width: 0;
}
.freeBox__eGiZs > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-Pky-E4CaFvs4));
  width: calc(100% + var(--token-Pky-E4CaFvs4));
}
.freeBox__eGiZs > :global(.__wab_flex-container) > *,
.freeBox__eGiZs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eGiZs > :global(.__wab_flex-container) > picture > img,
.freeBox__eGiZs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Pky-E4CaFvs4);
}
.flightIcon4 {
  backdrop-filter: blur(0px);
  transform: none;
  color: var(--token-0pVtkP-kaM_p);
  height: var(--token-6mQmIEer3GeD);
  width: auto;
  object-fit: cover;
  -webkit-backdrop-filter: blur(0px);
}
.text__vJSzL {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #000000;
  font-family: "Vazirmatn", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.text__if46K {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: center;
  text-align: center;
  font-family: "Vazirmatn", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: var(--token-0pVtkP-kaM_p);
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.cities3 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: var(--token-8MkIlsFrrWgx);
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px #c2c2c233;
  margin-bottom: 15px;
  background: var(--token-DbGdjBpQ6R_X);
  min-width: 0;
  border-radius: 20px;
  padding: 40px 8px;
  border: 1px dashed var(--token-Pxe4wDL2kJpb);
}
.freeBox__lsLdJ {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  padding-left: 10px;
  min-width: 0;
}
.freeBox__lsLdJ > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-Pky-E4CaFvs4));
  width: calc(100% + var(--token-Pky-E4CaFvs4));
}
.freeBox__lsLdJ > :global(.__wab_flex-container) > *,
.freeBox__lsLdJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lsLdJ > :global(.__wab_flex-container) > picture > img,
.freeBox__lsLdJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Pky-E4CaFvs4);
}
.cityIcon4 {
  object-fit: cover;
  width: auto;
  height: var(--token-6mQmIEer3GeD);
  color: var(--token-0pVtkP-kaM_p);
  transform: none;
}
.text__lPo0W {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Vazirmatn", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
}
.text__rkWmj {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: center;
  text-align: center;
  font-family: "Vazirmatn", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: var(--token-0pVtkP-kaM_p);
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.airports3 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: var(--token-8MkIlsFrrWgx);
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px #c2c2c233;
  margin-bottom: 20px;
  background: var(--token-DbGdjBpQ6R_X);
  min-width: 0;
  border-radius: 20px;
  padding: 40px 8px;
  border: 1px dashed var(--token-Pxe4wDL2kJpb);
}
.freeBox__vKgU0 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 0px 0px 0px 10px;
}
.freeBox__vKgU0 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-Pky-E4CaFvs4));
  width: calc(100% + var(--token-Pky-E4CaFvs4));
}
.freeBox__vKgU0 > :global(.__wab_flex-container) > *,
.freeBox__vKgU0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vKgU0 > :global(.__wab_flex-container) > picture > img,
.freeBox__vKgU0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Pky-E4CaFvs4);
}
.airportIcon5 {
  object-fit: cover;
  width: auto;
  height: var(--token-6mQmIEer3GeD);
  color: var(--token-0pVtkP-kaM_p);
  transform: none;
}
.text__eUwxQ {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Vazirmatn", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
}
.text__fxyAk {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: center;
  text-align: center;
  font-family: "Vazirmatn", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: var(--token-0pVtkP-kaM_p);
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.section__rUsIq {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  top: auto;
  left: auto;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__rUsIq > * {
  grid-column: 4;
}
.newLogin:global(.__wab_instance) {
  max-width: 100%;
}
.time2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: var(--token-8MkIlsFrrWgx);
  max-width: 100%;
  box-shadow: none;
  margin-bottom: 15px;
  margin-top: 10px;
  background: var(--token-DbGdjBpQ6R_X);
  filter: none;
  min-width: 0;
  border-radius: 20px;
  padding: 40px 8px;
  border: 1px dashed var(--token-Pxe4wDL2kJpb);
}
.freeBox__knQg {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-left: 15px;
  min-width: 0;
}
.freeBox__knQg > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-Pky-E4CaFvs4));
  width: calc(100% + var(--token-Pky-E4CaFvs4));
}
.freeBox__knQg > :global(.__wab_flex-container) > *,
.freeBox__knQg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__knQg > :global(.__wab_flex-container) > picture > img,
.freeBox__knQg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Pky-E4CaFvs4);
}
.flightIcon6 {
  backdrop-filter: blur(0px);
  transform: none;
  color: var(--token-0pVtkP-kaM_p);
  height: var(--token-6mQmIEer3GeD);
  width: auto;
  object-fit: cover;
  display: none;
  -webkit-backdrop-filter: blur(0px);
}
.text___6BX2G {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #000000;
  font-family: "Vazirmatn", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.text__xOgx3 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  left: auto;
  top: auto;
  font-weight: 700;
  font-family: "Vazirmatn", sans-serif;
  font-size: 20px;
  color: var(--token-0pVtkP-kaM_p);
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-right: 10px;
  padding-left: 10px;
}
.flights2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: var(--token-8MkIlsFrrWgx);
  max-width: 100%;
  box-shadow: none;
  margin-bottom: 15px;
  margin-top: 0px;
  background: var(--token-DbGdjBpQ6R_X);
  filter: none;
  min-width: 0;
  border-radius: 20px;
  padding: 35px 8px;
  border: 1px dashed var(--token-Pxe4wDL2kJpb);
}
.freeBox__izbTe {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-left: 15px;
  min-width: 0;
}
.freeBox__izbTe > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-Pky-E4CaFvs4));
  width: calc(100% + var(--token-Pky-E4CaFvs4));
}
.freeBox__izbTe > :global(.__wab_flex-container) > *,
.freeBox__izbTe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__izbTe > :global(.__wab_flex-container) > picture > img,
.freeBox__izbTe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Pky-E4CaFvs4);
}
.flightIcon3 {
  backdrop-filter: blur(0px);
  transform: none;
  color: var(--token-0pVtkP-kaM_p);
  height: var(--token-6mQmIEer3GeD);
  width: auto;
  object-fit: cover;
  display: none;
  -webkit-backdrop-filter: blur(0px);
}
.text__gLkTd {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #000000;
  font-family: "Vazirmatn", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.text__pbrEf {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  left: auto;
  top: auto;
  font-weight: 700;
  font-family: "Vazirmatn", sans-serif;
  font-size: 20px;
  color: var(--token-0pVtkP-kaM_p);
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-right: 10px;
  padding-left: 10px;
}
.cities2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: var(--token-8MkIlsFrrWgx);
  max-width: 100%;
  box-shadow: none;
  margin-bottom: 15px;
  background: var(--token-DbGdjBpQ6R_X);
  min-width: 0;
  border-radius: 20px;
  padding: 35px 8px;
  border: 1px dashed var(--token-Pxe4wDL2kJpb);
}
.freeBox__wtTGe {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  padding-left: 10px;
  min-width: 0;
}
.freeBox__wtTGe > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-Pky-E4CaFvs4));
  width: calc(100% + var(--token-Pky-E4CaFvs4));
}
.freeBox__wtTGe > :global(.__wab_flex-container) > *,
.freeBox__wtTGe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wtTGe > :global(.__wab_flex-container) > picture > img,
.freeBox__wtTGe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Pky-E4CaFvs4);
}
.cityIcon3 {
  object-fit: cover;
  width: auto;
  height: var(--token-6mQmIEer3GeD);
  color: var(--token-0pVtkP-kaM_p);
  transform: none;
  display: none;
}
.text__rngH {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Vazirmatn", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
}
.text__qNuy {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  font-family: "Vazirmatn", sans-serif;
  font-size: 20px;
  color: var(--token-0pVtkP-kaM_p);
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-right: 10px;
  padding-left: 10px;
}
.airports2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: var(--token-8MkIlsFrrWgx);
  max-width: 100%;
  box-shadow: none;
  margin-bottom: 20px;
  background: var(--token-DbGdjBpQ6R_X);
  min-width: 0;
  border-radius: 20px;
  padding: 35px 8px;
  border: 1px dashed var(--token-Pxe4wDL2kJpb);
}
.freeBox__dzy5X {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 0px 0px 0px 10px;
}
.freeBox__dzy5X > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-Pky-E4CaFvs4));
  width: calc(100% + var(--token-Pky-E4CaFvs4));
}
.freeBox__dzy5X > :global(.__wab_flex-container) > *,
.freeBox__dzy5X > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dzy5X > :global(.__wab_flex-container) > picture > img,
.freeBox__dzy5X
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Pky-E4CaFvs4);
}
.airportIcon4 {
  object-fit: cover;
  width: auto;
  height: var(--token-6mQmIEer3GeD);
  color: var(--token-0pVtkP-kaM_p);
  transform: none;
  display: none;
}
.text___022Le {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Vazirmatn", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
}
.text___2Ai4G {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  font-family: "Vazirmatn", sans-serif;
  font-size: 20px;
  color: var(--token-0pVtkP-kaM_p);
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-right: 10px;
  padding-left: 10px;
}
.freeBox__mZKz {
  position: fixed;
  width: auto;
  height: auto;
  max-width: 50%;
  left: auto;
  top: 20px;
  z-index: 1000;
  background: var(--token-jgohepLVeKvh);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  overflow: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  bottom: auto;
  right: auto;
  display: none;
  border-radius: 15px;
  padding: 8px;
  border: 3px solid var(--token-U2IgSncNyCpY);
}
.text__wN8Vh {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 2rem;
  color: #d50b0b;
  text-align: left;
  align-self: flex-start;
  left: auto;
  top: auto;
  position: relative;
  margin-right: 5px;
}
.freeBox___6GLj1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px;
}
.text___7SKsn {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: "Vazirmatn", sans-serif;
  min-width: 0;
}
.text__hbWw6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Vazirmatn", sans-serif;
  align-self: center;
  text-align: center;
  min-width: 0;
}
.freeBox__egn6M {
  position: fixed;
  width: auto;
  height: auto;
  max-width: 50%;
  left: auto;
  top: 20px;
  z-index: 1000;
  background: var(--token-jgohepLVeKvh);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  overflow: auto;
  flex-direction: row;
  right: auto;
  display: none;
  border-radius: 15px;
  padding: 8px;
  border: 3px solid var(--token-Bo2_tT25lwh4);
}
.text__wo6Sv {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 2rem;
  color: #d50b0b;
  text-align: left;
  align-self: flex-start;
  left: auto;
  top: auto;
  position: relative;
  margin-right: 5px;
}
.freeBox___7NaCr {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px;
}
.text___9A4G7 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: "Vazirmatn", sans-serif;
  min-width: 0;
}
.freeBox__cbveK {
  position: fixed;
  width: auto;
  height: auto;
  max-width: 100%;
  z-index: 100;
  background: var(--token-jgohepLVeKvh);
  box-shadow: 0px 4px 16px 0px #000000;
  overflow: auto;
  flex-direction: row;
  left: auto;
  top: 20px;
  right: auto;
  display: none;
  border-radius: 15px;
  padding: 8px;
  border: 3px solid var(--token-ZSy-woW01QvW);
}
.freeBox___0NMKi {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px;
}
.text__mm6LI {
  padding-left: 0px;
}
.freeBox__t6Nfa {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.year2 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.year2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  margin-left: calc(0px - var(--token-mOObcsDfmK2R));
  width: calc(100% + var(--token-mOObcsDfmK2R));
}
.year2 > :global(.__wab_flex-container) > *,
.year2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.year2 > :global(.__wab_flex-container) > picture > img,
.year2 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: var(--token-mOObcsDfmK2R);
}
.all:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__gz54T {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__cYmu {
  font-family: "Vazirmatn", sans-serif;
  padding-right: 5px;
  padding-left: 5px;
}
.svg___3ZeNm {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
._2024:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__sdc1Q {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__x540R {
  padding-right: 5px;
  padding-left: 5px;
  font-family: "Vazirmatn", sans-serif;
}
.svg__aKjHl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
._2023:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__fd8Eu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
._20233 {
  padding-right: 5px;
  padding-left: 5px;
  font-family: "Vazirmatn", sans-serif;
}
.svg__nDxp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
._2022:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__fvz2N {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__xFmYe {
  padding-right: 5px;
  padding-left: 5px;
  font-family: "Vazirmatn", sans-serif;
}
.svg__lI0Wr {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.section__wvP09 {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  top: auto;
  left: auto;
  padding-top: 5px;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__wvP09 > * {
  grid-column: 4;
}
.dreamerr {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.dreamerr > * {
  grid-column: 4;
}
._0Star {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 15px;
  margin-top: 5px;
  min-width: 0;
  padding: 0px;
}
.freeBox__whwh3 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
}
.text__jsbgh {
  font-family: "Vazirmatn", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: var(--token-0pVtkP-kaM_p);
  align-self: center;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
}
.section__nip8U {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 20%;
  padding-left: 0;
  padding-right: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__nip8U > * {
  grid-column: 4;
}
.section__ley5 {
  display: grid;
  position: relative;
  align-content: center;
  justify-items: center;
  align-self: center;
  max-width: 100%;
  width: 80%;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__ley5 > * {
  grid-column: 4;
}
.img__rveEh {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  border-radius: 3px;
}
.img__rveEh > picture > img {
  object-fit: cover;
}
.img__cKff9 {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  justify-self: center;
  min-width: 0;
  border-radius: 20px;
  border: 1px dashed var(--token-Pxe4wDL2kJpb);
}
.img__cKff9 > picture > img {
  object-fit: cover;
}
.newExplorer {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.newExplorer > * {
  grid-column: 4;
}
._2Star2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 15px;
  margin-top: 5px;
  min-width: 0;
  padding: 0px;
}
.freeBox___2LL6 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
}
.text__qTuuk {
  font-family: "Vazirmatn", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: var(--token-0pVtkP-kaM_p);
  align-self: center;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
}
.section__beQRu {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 20%;
  padding-left: 0;
  padding-right: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__beQRu > * {
  grid-column: 4;
}
.section__rM4Xo {
  display: grid;
  position: relative;
  align-content: center;
  justify-items: center;
  align-self: center;
  max-width: 100%;
  width: 80%;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__rM4Xo > * {
  grid-column: 4;
}
.img__nb4Aj {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  border-radius: 3px;
}
.img__nb4Aj > picture > img {
  object-fit: cover;
}
.img___0Eevu {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  justify-self: center;
  min-width: 0;
  border-radius: 20px;
  border: 1px dashed var(--token-Pxe4wDL2kJpb);
}
.img___0Eevu > picture > img {
  object-fit: cover;
}
.adventurousBeginnings {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.adventurousBeginnings > * {
  grid-column: 4;
}
._2Star {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 15px;
  margin-top: 5px;
  min-width: 0;
  padding: 0px;
}
.freeBox__hduNx {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
}
.text__m5JdH {
  font-family: "Vazirmatn", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: var(--token-0pVtkP-kaM_p);
  align-self: center;
  padding: 2px 2px 0px;
}
.section__wdwFi {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 20%;
  padding-left: 0;
  padding-right: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__wdwFi > * {
  grid-column: 4;
}
.section__gg5Jt {
  display: grid;
  position: relative;
  align-content: center;
  justify-items: center;
  align-self: center;
  max-width: 100%;
  width: 80%;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__gg5Jt > * {
  grid-column: 4;
}
.img__o8EF8 {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  border-radius: 3px;
}
.img__o8EF8 > picture > img {
  object-fit: cover;
}
.img__bspQr {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  justify-self: center;
  min-width: 0;
  border-radius: 20px;
  border: 1px dashed var(--token-Pxe4wDL2kJpb);
}
.img__bspQr > picture > img {
  object-fit: cover;
}
.frequentVoyager {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.frequentVoyager > * {
  grid-column: 4;
}
._3Star {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 15px;
  margin-top: 5px;
  min-width: 0;
  padding: 0px;
}
.freeBox__l4ZP3 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 50%;
  align-self: center;
  min-width: 0;
}
.text___0PrHo {
  font-family: "Vazirmatn", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: var(--token-0pVtkP-kaM_p);
  align-self: center;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
}
.section__hS9UT {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 20%;
  padding-left: 0;
  padding-right: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__hS9UT > * {
  grid-column: 4;
}
.section__pvO06 {
  display: grid;
  position: relative;
  align-content: center;
  justify-items: center;
  align-self: center;
  max-width: 100%;
  width: 80%;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__pvO06 > * {
  grid-column: 4;
}
.img__of8H9 {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  justify-self: flex-end;
  margin-right: 0px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  border-radius: 3px;
}
.img__of8H9 > picture > img {
  object-fit: cover;
}
.img__p5Ms {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  justify-self: center;
  min-width: 0;
  border-radius: 20px;
  border: 2px dashed var(--token-Pxe4wDL2kJpb);
}
.img__p5Ms > picture > img {
  object-fit: cover;
}
.worldExplorer {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.worldExplorer > * {
  grid-column: 4;
}
._4Star {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 15px;
  margin-top: 5px;
  min-width: 0;
  padding: 0px;
}
.freeBox___9BLnN {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
}
.text__oSh5T {
  font-family: "Vazirmatn", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: var(--token-0pVtkP-kaM_p);
  align-self: center;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
}
.section__hrTqF {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 20%;
  padding-left: 0;
  padding-right: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__hrTqF > * {
  grid-column: 4;
}
._4SImage {
  display: grid;
  position: relative;
  align-content: center;
  justify-items: center;
  align-self: center;
  max-width: 100%;
  width: 80%;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
._4SImage > * {
  grid-column: 4;
}
.img__fnWtH {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  border-radius: 3px;
}
.img__fnWtH > picture > img {
  object-fit: cover;
}
.img__aw7D9 {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  justify-self: center;
  min-width: 0;
  border-radius: 20px;
  border: 1px dashed var(--token-Pxe4wDL2kJpb);
}
.img__aw7D9 > picture > img {
  object-fit: cover;
}
.travelMaster {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  margin: 20px 0px;
}
.travelMaster > * {
  grid-column: 4;
}
._5Star {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 15px;
  margin-top: 5px;
  min-width: 0;
  padding: 0px;
}
.freeBox__fdsjX {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__feaVy {
  font-family: "Vazirmatn", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: var(--token-0pVtkP-kaM_p);
  align-self: center;
  padding-top: 2px;
  padding-left: 4px;
  padding-right: 4px;
}
.section__cWnb {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 20%;
  padding-left: 0;
  padding-right: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__cWnb > * {
  grid-column: 4;
}
.starImage {
  display: grid;
  position: relative;
  align-content: center;
  justify-items: center;
  align-self: center;
  max-width: 100%;
  width: 80%;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.starImage > * {
  grid-column: 4;
}
.img__ddqP {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  border-radius: 3px;
}
.img__ddqP > picture > img {
  object-fit: cover;
}
.img__qwgTd {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  justify-self: center;
  min-width: 0;
  border-radius: 20px;
  border: 1px dashed var(--token-Pxe4wDL2kJpb);
}
.img__qwgTd > picture > img {
  object-fit: cover;
}
.logo {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  padding: 8px;
  margin: 0px 5px 5px;
}
.freeBox__iaqXc {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 0px;
}
.freeBox__v6IoI {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-end: span 3;
  min-width: 0;
  padding: 8px;
}
.img__ighvH {
  object-fit: cover;
  max-width: 100%;
  width: auto;
  max-height: 100%;
}
.img__ighvH > picture > img {
  object-fit: cover;
}
.freeBox__cgVho {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__gdDlJ {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}
.img__gdDlJ > picture > img {
  object-fit: cover;
}
.time {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: var(--token-8MkIlsFrrWgx);
  max-width: 100%;
  box-shadow: none;
  margin-bottom: 15px;
  margin-top: 10px;
  background: var(--token-DbGdjBpQ6R_X);
  filter: none;
  min-width: 0;
  border-radius: 20px;
  padding: 30px 8px;
  border: 1px dashed var(--token-Pxe4wDL2kJpb);
}
.text__dwOac {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #000000;
  font-weight: 400;
  font-size: 18px;
  font-family: "Vazirmatn", sans-serif;
}
.text__vy3E9 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #000000;
  font-weight: 400;
  font-size: 18px;
  font-family: "Vazirmatn", sans-serif;
}
.text___6MxIa {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #000000;
  font-weight: 400;
  font-size: 18px;
  font-family: "Vazirmatn", sans-serif;
}
.freeBox__b147 {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__b147 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-Pky-E4CaFvs4));
  width: calc(100% + var(--token-Pky-E4CaFvs4));
}
.freeBox__b147 > :global(.__wab_flex-container) > *,
.freeBox__b147 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__b147 > :global(.__wab_flex-container) > picture > img,
.freeBox__b147
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Pky-E4CaFvs4);
}
.flightIcon8 {
  backdrop-filter: blur(0px);
  transform: none;
  color: var(--token-0pVtkP-kaM_p);
  height: var(--token-6mQmIEer3GeD);
  width: auto;
  object-fit: cover;
  display: none;
  -webkit-backdrop-filter: blur(0px);
}
.text__fg0Zv {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  left: auto;
  top: auto;
  font-weight: 700;
  font-family: "Vazirmatn", sans-serif;
  font-size: 20px;
  color: var(--token-0pVtkP-kaM_p);
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-right: 10px;
  padding-left: 10px;
}
.flights {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: var(--token-8MkIlsFrrWgx);
  max-width: 100%;
  box-shadow: none;
  margin-bottom: 15px;
  margin-top: 0px;
  background: var(--token-DbGdjBpQ6R_X);
  filter: none;
  min-width: 0;
  border-radius: 20px;
  padding: 30px 8px;
  border: 1px dashed var(--token-Pxe4wDL2kJpb);
}
.text__a2ThP {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #000000;
  font-weight: 400;
  font-size: 18px;
  font-family: "Vazirmatn", sans-serif;
}
.text__zKhFs {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #000000;
  font-weight: 400;
  font-size: 18px;
  font-family: "Vazirmatn", sans-serif;
}
.freeBox__uHwl {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__uHwl > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-Pky-E4CaFvs4));
  width: calc(100% + var(--token-Pky-E4CaFvs4));
}
.freeBox__uHwl > :global(.__wab_flex-container) > *,
.freeBox__uHwl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uHwl > :global(.__wab_flex-container) > picture > img,
.freeBox__uHwl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Pky-E4CaFvs4);
}
.flightIcon2 {
  backdrop-filter: blur(0px);
  transform: none;
  color: var(--token-0pVtkP-kaM_p);
  height: var(--token-6mQmIEer3GeD);
  width: auto;
  object-fit: cover;
  display: none;
  -webkit-backdrop-filter: blur(0px);
}
.text__ubsKv {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  left: auto;
  top: auto;
  font-weight: 700;
  font-family: "Vazirmatn", sans-serif;
  font-size: 20px;
  color: var(--token-0pVtkP-kaM_p);
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-right: 10px;
  padding-left: 10px;
}
.cities {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: var(--token-8MkIlsFrrWgx);
  max-width: 100%;
  box-shadow: none;
  margin-bottom: 15px;
  background: var(--token-DbGdjBpQ6R_X);
  min-width: 0;
  border-radius: 20px;
  padding: 30px 8px;
  border: 1px dashed var(--token-Pxe4wDL2kJpb);
}
.text__iCWiq {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  font-family: "Vazirmatn", sans-serif;
}
.text__sI2PN {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  font-family: "Vazirmatn", sans-serif;
}
.text__lk4Ff {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  font-family: "Vazirmatn", sans-serif;
}
.freeBox___8J5MZ {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox___8J5MZ > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-Pky-E4CaFvs4));
  width: calc(100% + var(--token-Pky-E4CaFvs4));
}
.freeBox___8J5MZ > :global(.__wab_flex-container) > *,
.freeBox___8J5MZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8J5MZ > :global(.__wab_flex-container) > picture > img,
.freeBox___8J5MZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Pky-E4CaFvs4);
}
.cityIcon2 {
  object-fit: cover;
  width: auto;
  height: var(--token-6mQmIEer3GeD);
  color: var(--token-0pVtkP-kaM_p);
  transform: none;
  display: none;
}
.text__wMr8R {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  font-family: "Vazirmatn", sans-serif;
  font-size: 20px;
  color: var(--token-0pVtkP-kaM_p);
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-right: 10px;
  padding-left: 10px;
}
.airports4 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: var(--token-8MkIlsFrrWgx);
  max-width: 100%;
  box-shadow: none;
  margin-bottom: 30px;
  background: var(--token-DbGdjBpQ6R_X);
  min-width: 0;
  border-radius: 20px;
  padding: 30px 8px;
  border: 1px dashed var(--token-Pxe4wDL2kJpb);
}
.text__iCz8F {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  font-family: "Vazirmatn", sans-serif;
}
.text___27UrV {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  font-family: "Vazirmatn", sans-serif;
}
.text__qc2Vu {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  font-family: "Vazirmatn", sans-serif;
}
.freeBox__hHWek {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__hHWek > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-Pky-E4CaFvs4));
  width: calc(100% + var(--token-Pky-E4CaFvs4));
}
.freeBox__hHWek > :global(.__wab_flex-container) > *,
.freeBox__hHWek > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hHWek > :global(.__wab_flex-container) > picture > img,
.freeBox__hHWek
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Pky-E4CaFvs4);
}
.cityIcon5 {
  object-fit: cover;
  width: auto;
  height: var(--token-6mQmIEer3GeD);
  color: var(--token-0pVtkP-kaM_p);
  transform: none;
  display: none;
}
.text__qsiNj {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  font-family: "Vazirmatn", sans-serif;
  font-size: 20px;
  color: var(--token-0pVtkP-kaM_p);
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-right: 10px;
  padding-left: 10px;
}
.freeBox___4QYa2 {
  display: flex;
  position: fixed;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  flex-direction: column;
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 0;
  padding: 10px;
}
.link {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  background: #ff334e;
  left: auto;
  top: auto;
  z-index: 1;
  right: auto;
  bottom: auto;
  min-width: 0;
  border-radius: 10px;
  padding: 8px;
}
.text__gh9Zg {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  text-align: center;
  font-weight: 700;
  font-size: 17px;
}
