.root {
  background: var(--token-p9mBFxnn3trO);
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-top: 64px;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
}
.profileHeader:global(.__wab_instance) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  flex-shrink: 0;
}
@media (max-width: 1280px) {
  .profileHeader:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 512px) {
  .profileHeader:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.body {
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 0;
}
@media (max-width: 1280px) {
  .body {
    width: 100%;
    padding-left: 0px;
    min-width: 0;
  }
}
.httpRestApiFetcher:global(.__wab_instance) {
  object-fit: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 30px;
}
@media (max-width: 1280px) {
  .httpRestApiFetcher:global(.__wab_instance) {
    padding: 20px;
  }
}
@media (max-width: 1024px) {
  .httpRestApiFetcher:global(.__wab_instance) {
    padding-top: 20px;
  }
}
@media (max-width: 768px) {
  .httpRestApiFetcher:global(.__wab_instance) {
    padding: 20px;
  }
}
@media (min-width: 0px) and (max-width: 512px) {
  .httpRestApiFetcher:global(.__wab_instance) {
    height: auto;
    width: 100%;
    max-width: var(--token-Ls4kjfvyF7vL);
    grid-column-start: 3 !important;
    grid-column-end: -3 !important;
    padding: 0px;
  }
}
.section__fQPuI {
  height: auto;
  width: auto;
  justify-items: center;
  align-content: flex-start;
  display: grid;
  max-width: 100%;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 8px;
}
.section__fQPuI > * {
  grid-column: 4;
}
.img__uk1Qu {
  object-fit: cover;
  left: auto;
  top: auto;
  position: relative;
  transform: none;
  filter: grayscale(100%);
  width: auto;
  justify-self: center;
  border-radius: 50%;
}
.img__uk1Qu > picture > img {
  object-fit: cover;
}
@media (max-width: 1280px) {
  .img__uk1Qu {
    width: 100%;
    left: auto;
    top: auto;
    min-width: 0;
  }
}
.section__rUsIq {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  top: auto;
  left: auto;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__rUsIq > * {
  grid-column: 4;
}
.duration2 {
  display: grid;
  position: relative;
  align-content: center;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  box-shadow: 0px 4px 16px 0px #4c4c4c33;
  background: var(--token-DbGdjBpQ6R_X);
  margin-top: 25px;
  margin-bottom: 20px;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  border-radius: 20px;
}
.duration2 > * {
  grid-column: 4;
}
.text__vhf2H {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Vazirmatn", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  justify-self: center;
  padding-top: 10px;
  min-width: 0;
}
.freeBox__exRS {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.days3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.text__ptacx {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: center;
  text-align: center;
  font-family: "Vazirmatn", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: var(--token-0pVtkP-kaM_p);
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text___2Faql {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Vazirmatn", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  align-self: center;
}
.hours4 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.text__ad2K {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "Vazirmatn", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: var(--token-0pVtkP-kaM_p);
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__lr5Zp {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Vazirmatn", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  align-self: center;
}
.minutes3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.text___5IDye {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  font-family: "Vazirmatn", sans-serif;
  font-size: 24px;
  color: var(--token-0pVtkP-kaM_p);
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__fW33G {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Vazirmatn", sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  align-self: center;
}
.newLogin:global(.__wab_instance) {
  max-width: 100%;
}
.flights2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: var(--token-8MkIlsFrrWgx);
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px #c2c2c233;
  margin-bottom: 15px;
  margin-top: 20px;
  background: var(--token-DbGdjBpQ6R_X);
  filter: none;
  min-width: 0;
  border-radius: 20px;
  padding: 35px 8px;
  border: 1px dashed var(--token-Pxe4wDL2kJpb);
}
.freeBox__izbTe {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-left: 15px;
  min-width: 0;
}
.freeBox__izbTe > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-Pky-E4CaFvs4));
  width: calc(100% + var(--token-Pky-E4CaFvs4));
}
.freeBox__izbTe > :global(.__wab_flex-container) > *,
.freeBox__izbTe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__izbTe > :global(.__wab_flex-container) > picture > img,
.freeBox__izbTe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Pky-E4CaFvs4);
}
.flightIcon3 {
  backdrop-filter: blur(0px);
  transform: none;
  color: var(--token-0pVtkP-kaM_p);
  height: var(--token-6mQmIEer3GeD);
  width: auto;
  object-fit: cover;
  -webkit-backdrop-filter: blur(0px);
}
.text__gLkTd {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #000000;
  font-family: "Vazirmatn", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.text__pbrEf {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  left: auto;
  top: auto;
  font-weight: 700;
  font-family: "Vazirmatn", sans-serif;
  font-size: 20px;
  color: var(--token-0pVtkP-kaM_p);
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-right: 10px;
  padding-left: 10px;
}
.cities2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: var(--token-8MkIlsFrrWgx);
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px #c2c2c233;
  margin-bottom: 15px;
  background: var(--token-DbGdjBpQ6R_X);
  min-width: 0;
  border-radius: 20px;
  padding: 35px 8px;
  border: 1px dashed var(--token-Pxe4wDL2kJpb);
}
.freeBox__wtTGe {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  padding-left: 10px;
  min-width: 0;
}
.freeBox__wtTGe > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-Pky-E4CaFvs4));
  width: calc(100% + var(--token-Pky-E4CaFvs4));
}
.freeBox__wtTGe > :global(.__wab_flex-container) > *,
.freeBox__wtTGe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wtTGe > :global(.__wab_flex-container) > picture > img,
.freeBox__wtTGe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Pky-E4CaFvs4);
}
.cityIcon3 {
  object-fit: cover;
  width: auto;
  height: var(--token-6mQmIEer3GeD);
  color: var(--token-0pVtkP-kaM_p);
  transform: none;
}
.text__rngH {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Vazirmatn", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
}
.text__qNuy {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  font-family: "Vazirmatn", sans-serif;
  font-size: 20px;
  color: var(--token-0pVtkP-kaM_p);
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-right: 10px;
  padding-left: 10px;
}
.airports2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: var(--token-8MkIlsFrrWgx);
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px #c2c2c233;
  margin-bottom: 20px;
  background: var(--token-DbGdjBpQ6R_X);
  min-width: 0;
  border-radius: 20px;
  padding: 35px 8px;
  border: 1px dashed var(--token-Pxe4wDL2kJpb);
}
.freeBox__dzy5X {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 0px 0px 0px 10px;
}
.freeBox__dzy5X > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-Pky-E4CaFvs4));
  width: calc(100% + var(--token-Pky-E4CaFvs4));
}
.freeBox__dzy5X > :global(.__wab_flex-container) > *,
.freeBox__dzy5X > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dzy5X > :global(.__wab_flex-container) > picture > img,
.freeBox__dzy5X
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Pky-E4CaFvs4);
}
.airportIcon4 {
  object-fit: cover;
  width: auto;
  height: var(--token-6mQmIEer3GeD);
  color: var(--token-0pVtkP-kaM_p);
  transform: none;
}
.text___022Le {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Vazirmatn", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
}
.text___2Ai4G {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  font-family: "Vazirmatn", sans-serif;
  font-size: 20px;
  color: var(--token-0pVtkP-kaM_p);
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-right: 10px;
  padding-left: 10px;
}
.section__wvP09 {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  top: auto;
  left: auto;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__wvP09 > * {
  grid-column: 4;
}
.freeBox__p29D {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  min-width: 0;
}
.freeBox__p29D > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  margin-left: calc(0px - var(--token-mOObcsDfmK2R));
  width: calc(100% + var(--token-mOObcsDfmK2R));
}
.freeBox__p29D > :global(.__wab_flex-container) > *,
.freeBox__p29D > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__p29D > :global(.__wab_flex-container) > picture > img,
.freeBox__p29D
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-mOObcsDfmK2R);
}
.all:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__gz54T {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__cYmu {
  font-family: "Vazirmatn", sans-serif;
  padding-right: 5px;
  padding-left: 5px;
}
.svg___3ZeNm {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
._2024:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__sdc1Q {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__x540R {
  padding-right: 5px;
  padding-left: 5px;
  font-family: "Vazirmatn", sans-serif;
}
.svg__aKjHl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
._2023:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__fd8Eu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
._20233 {
  padding-right: 5px;
  padding-left: 5px;
  font-family: "Vazirmatn", sans-serif;
}
.svg__nDxp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
._2022:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__fvz2N {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__xFmYe {
  padding-right: 5px;
  padding-left: 5px;
  font-family: "Vazirmatn", sans-serif;
}
.svg__lI0Wr {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.duration {
  display: grid;
  position: relative;
  align-content: center;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  box-shadow: none;
  background: var(--token-DbGdjBpQ6R_X);
  margin-top: 25px;
  margin-bottom: 20px;
  outline-style: dashed;
  outline-color: var(--token-Pxe4wDL2kJpb);
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  border-radius: 20px;
}
.duration > * {
  grid-column: 4;
}
.text__yliCg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Vazirmatn", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  justify-self: center;
  padding-top: 10px;
  min-width: 0;
}
.freeBox__bdQ7L {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.days2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.text__xRzdY {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: center;
  text-align: center;
  font-family: "Vazirmatn", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: var(--token-0pVtkP-kaM_p);
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__lZxM3 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Vazirmatn", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  align-self: center;
}
.hours3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.text__tp43G {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "Vazirmatn", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: var(--token-0pVtkP-kaM_p);
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__p43Pg {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Vazirmatn", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  align-self: center;
}
.minutes2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.text___7BgT {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  font-family: "Vazirmatn", sans-serif;
  font-size: 24px;
  color: var(--token-0pVtkP-kaM_p);
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__vFl2N {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Vazirmatn", sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  align-self: center;
}
.dreamerr {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.dreamerr > * {
  grid-column: 4;
}
.img__cKff9 {
  object-fit: cover;
  max-width: 100%;
  outline-color: var(--token-Pxe4wDL2kJpb);
  outline-style: dashed;
  outline-width: medium;
  width: 100%;
  justify-self: center;
  min-width: 0;
  border-radius: 20px;
}
.img__cKff9 > picture > img {
  object-fit: cover;
}
.text__jNxrW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 15px;
  margin-bottom: 0px;
  font-family: "Vazirmatn", sans-serif;
  font-size: 19px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  justify-self: center;
  min-width: 0;
}
.explorerr {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.explorerr > * {
  grid-column: 4;
}
.img__bspQr {
  object-fit: cover;
  max-width: 100%;
  outline-color: var(--token-Pxe4wDL2kJpb);
  outline-style: dashed;
  outline-width: medium;
  width: 100%;
  justify-self: center;
  min-width: 0;
  border-radius: 20px;
}
.img__bspQr > picture > img {
  object-fit: cover;
}
.text__xWDbr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 15px;
  margin-bottom: 0px;
  font-family: "Vazirmatn", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  justify-self: center;
  min-width: 0;
}
.adventurer2 {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.adventurer2 > * {
  grid-column: 4;
}
.img__p5Ms {
  object-fit: cover;
  max-width: 100%;
  outline-color: var(--token-Pxe4wDL2kJpb);
  outline-style: dashed;
  outline-width: medium;
  width: 100%;
  justify-self: center;
  min-width: 0;
  border-radius: 20px;
}
.img__p5Ms > picture > img {
  object-fit: cover;
}
.text__ruhdt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 15px;
  margin-bottom: 0px;
  font-family: "Vazirmatn", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  justify-self: center;
  min-width: 0;
}
.globetrotterr {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.globetrotterr > * {
  grid-column: 4;
}
.img__aw7D9 {
  object-fit: cover;
  max-width: 100%;
  outline-color: var(--token-Pxe4wDL2kJpb);
  outline-style: dashed;
  outline-width: medium;
  width: 100%;
  justify-self: center;
  min-width: 0;
  border-radius: 20px;
}
.img__aw7D9 > picture > img {
  object-fit: cover;
}
.text__p0Qhz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 15px;
  margin-bottom: 0px;
  font-family: "Vazirmatn", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  justify-self: center;
  min-width: 0;
}
.voyager {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  margin: 20px 0px;
}
.voyager > * {
  grid-column: 4;
}
.img__qwgTd {
  object-fit: cover;
  max-width: 100%;
  outline-color: var(--token-Pxe4wDL2kJpb);
  outline-style: dashed;
  outline-width: medium;
  width: 100%;
  justify-self: center;
  min-width: 0;
  border-radius: 20px;
}
.img__qwgTd > picture > img {
  object-fit: cover;
}
.text__cdNit {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Vazirmatn", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 0px;
  justify-self: center;
  color: #000000;
  min-width: 0;
}
.flights {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: var(--token-8MkIlsFrrWgx);
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px #c2c2c233;
  margin-bottom: 15px;
  margin-top: 20px;
  background: var(--token-DbGdjBpQ6R_X);
  filter: none;
  min-width: 0;
  border-radius: 20px;
  padding: 40px 8px;
  border: 1px dashed var(--token-Pxe4wDL2kJpb);
}
.freeBox__uHwl {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-left: 15px;
  min-width: 0;
}
.freeBox__uHwl > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-Pky-E4CaFvs4));
  width: calc(100% + var(--token-Pky-E4CaFvs4));
}
.freeBox__uHwl > :global(.__wab_flex-container) > *,
.freeBox__uHwl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uHwl > :global(.__wab_flex-container) > picture > img,
.freeBox__uHwl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Pky-E4CaFvs4);
}
.flightIcon2 {
  backdrop-filter: blur(0px);
  transform: none;
  color: var(--token-0pVtkP-kaM_p);
  height: var(--token-6mQmIEer3GeD);
  width: auto;
  object-fit: cover;
  -webkit-backdrop-filter: blur(0px);
}
.text__a2ThP {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #000000;
  font-family: "Vazirmatn", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.text__ubsKv {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  left: auto;
  top: auto;
  font-weight: 700;
  font-family: "Vazirmatn", sans-serif;
  font-size: 20px;
  color: var(--token-0pVtkP-kaM_p);
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-right: 10px;
  padding-left: 10px;
}
.cities {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: var(--token-8MkIlsFrrWgx);
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px #c2c2c233;
  margin-bottom: 15px;
  background: var(--token-DbGdjBpQ6R_X);
  min-width: 0;
  border-radius: 20px;
  padding: 40px 8px;
  border: 1px dashed var(--token-Pxe4wDL2kJpb);
}
.freeBox___8J5MZ {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  padding-left: 10px;
  min-width: 0;
}
.freeBox___8J5MZ > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-Pky-E4CaFvs4));
  width: calc(100% + var(--token-Pky-E4CaFvs4));
}
.freeBox___8J5MZ > :global(.__wab_flex-container) > *,
.freeBox___8J5MZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8J5MZ > :global(.__wab_flex-container) > picture > img,
.freeBox___8J5MZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Pky-E4CaFvs4);
}
.cityIcon2 {
  object-fit: cover;
  width: auto;
  height: var(--token-6mQmIEer3GeD);
  color: var(--token-0pVtkP-kaM_p);
  transform: none;
}
.text__iCWiq {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Vazirmatn", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
}
.text__wMr8R {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  font-family: "Vazirmatn", sans-serif;
  font-size: 20px;
  color: var(--token-0pVtkP-kaM_p);
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-right: 10px;
  padding-left: 10px;
}
.airports {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: var(--token-8MkIlsFrrWgx);
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px #c2c2c233;
  margin-bottom: 20px;
  background: var(--token-DbGdjBpQ6R_X);
  min-width: 0;
  border-radius: 20px;
  padding: 40px 8px;
  border: 1px dashed var(--token-Pxe4wDL2kJpb);
}
.freeBox__w9Vct {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 0px 0px 0px 10px;
}
.freeBox__w9Vct > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-Pky-E4CaFvs4));
  width: calc(100% + var(--token-Pky-E4CaFvs4));
}
.freeBox__w9Vct > :global(.__wab_flex-container) > *,
.freeBox__w9Vct > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__w9Vct > :global(.__wab_flex-container) > picture > img,
.freeBox__w9Vct
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Pky-E4CaFvs4);
}
.airportIcon3 {
  object-fit: cover;
  width: auto;
  height: var(--token-6mQmIEer3GeD);
  color: var(--token-0pVtkP-kaM_p);
  transform: none;
}
.text__kxRP {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Vazirmatn", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
}
.text__ie2Du {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  font-family: "Vazirmatn", sans-serif;
  font-size: 20px;
  color: var(--token-0pVtkP-kaM_p);
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-right: 10px;
  padding-left: 10px;
}
